body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: #f98d9e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
  background-image: url('icons/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  position: relative;
  width: 600px;
  height: 600px;
  text-align: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.4);
}

.subcon {
  content: "";
  align-items: center;
  justify-content: center !important;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 450px;
  bottom : 50%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(15px);
}

h1 {
  font-size: 32px;
  color: #f98d9e;
  margin-bottom: 30px;
  font-weight: 600;
  text-transform: uppercase;
}

#toggleButton {
  background-color: #FFB6C1;
  padding: 12px 25px;
  cursor: pointer; 
  margin-bottom: 25px;
  color: #fff;
  font-size: 18px;
  transition: all 0.3s ease;
}

#toggleButton:hover {
  background-color: #FF69B4;
  align-self: center;
}

#questionArea {
  font-size: 20px;
  margin-bottom: 25px;
  color: #3D3D3D;
}

#responseField {
  width: 60%;
  text-align: center;
  padding: 12px;
  color: rgba(99, 94, 94, 0.296);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-top: 15px;
  border: 1px solid #f98d9e;
  border-radius: 15px;
  outline: none;
  transition: all 0.3s ease;
}

#responseField:focus {
  border-color: #f98d9e;
}

.animated-btn {
  background-color: #FFB6C1;
  color: white;
  align-self: center;
  padding: 18px 35px;
  border: none;
  position: relative;
  right:60%;
  left:0.5%;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 30px;
  font-weight: bold;
  animation: bounce 1s infinite;
}
 
button{
  align-self: center;
}
.animated-btn:hover {
  background-color: #FF69B4;
  transform: scale(1.1);
}

#submitBtn{
  align-self: center;
}

.badge {
  font-size: 26px;
  display: none;
  margin-top: 30px;
}

.badge img {
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

#timerArea {
  display: none;
  font-size: 22px;
  color: #FF1493;
  font-weight: bold;
}

#earnedBadges {
  font-size: 18px;
  margin-top: 35px;
}

#badgeDisplay {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.earned-badge {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin: 8px;
  background-color: #FF1493;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}
